.swiper-container {
    position:absolute;
    top: 15%;
    width: 900px;
    height: 300px;
}
.swiper-slide{
    width: inherit !important;
    height: 100%;
    object-fit: cover;
}

/*****************************************************Compétences******************************************************/

.ligne{
    background-color: #239aef;
    position: relative;
    top: 30%;
    left: 37%;
    height: 40%;
    width: .5%;
    border-radius: 9999px;
}

.bureau{
    background-color: #e8e8e8;
    border-radius: 30px;
    position: absolute;
    left: 50px;
    height: 300px;
    width: 800px;
}

.cb{
    position: absolute;
    top: 10%;
    left: 45%;
    font-size: 25px;
    color: #090909;
}

.img_word{
    position: absolute;
    height: 35%;
    width: 20%;
    top: 30%;
    left: 10%;
}

.txt_word{
    font-weight: lighter;
    font-size: 18px;
    position: absolute;
    width: 40%;
    top: 30%;
    left: 45%;
}

/*********************************************/
.dev{
    background-color: rgba(35, 154, 239, 0.1);
    border-radius: 30px;
    position: absolute;
    left: 50px;
    height: 300px;
    width: 800px;
}

.cd{
    position: absolute;
    top: 10%;
    left: 45%;
    font-size: 25px;
    color: #090909;
}

.img_c{
    position: absolute;
    height: 35%;
    width: 14%;
    top: 30%;
    left: 12%;
}

.txt_c{
    font-weight: lighter;
    font-size: 18px;
    position: absolute;
    width: 40%;
    top: 30%;
    left: 45%;
}

/*********************************************/
.bdd{
    background-color: #e8e8e8;
    border-radius: 30px;
    position: absolute;
    left: 50px;
    height: 300px;
    width: 800px;
}

.cbdd{
    position: absolute;
    top: 10%;
    left: 45%;
    font-size: 25px;
    color: #090909;
}

.img_bdd{
    position: absolute;
    height: 35%;
    width: 13%;
    top: 32%;
    left: 13%;
}

.txt_bdd{
    font-weight: lighter;
    font-size: 18px;
    position: absolute;
    width: 50%;
    top: 120px;
    right: 0;
}
/*********************************************/
.outils_dev{
    background-color: rgba(35, 154, 239, 0.1);
    border-radius: 30px;
    position: absolute;
    left: 50px;
    height: 300px;
    width: 800px;
}

.cdev{
    position: absolute;
    top: 10%;
    left: 45%;
    font-size: 25px;
    color: #090909;
}

.img_prog{
    position: absolute;
    height: 35%;
    width: 20%;
    top: 30%;
    left: 10%;
}

.txt_prog{
    font-weight: lighter;
    font-size: 18px ;
    position: absolute;
    width: 50%;
    top: 120px;
    right: 0;
}

/************************************marquee************************************/

.wrapper{
    left: -30px;
    bottom: 150px;
    width:105%;
    height:100px;
    position:absolute;
    overflow:hidden;
}

.wrapper::after {
    width:100%;
    height:100px;
    content:"";
    position:absolute;
}

.box{
    width:100px;
    height:100px;
    position:absolute;
    font-size:25px;
    line-height:50px;
    text-align:center;
}

.box img{
    max-height: 100%;
    max-width: 100%;
}

.boxes {
    position:relative;
    left:-50px;
}
/*
#b1{
    left: 0;
}

#b2{
    left: 50px;
}

#b3{
    left: 100px;
}

#b4{
    left: 150px;
}

#b5{
    left: 200px;
}

#b6{
    left: 250px;
}

#b7{
    left: 300px;
}

#b8{
    left: 350px;
}

#b9{
    left: 400px;
}

#b10{
    left: 450px;
}

 */